/*  your css code here. If applicable */
body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    gap: 100px;
}

.left {
    width: 450px;
    margin-top: 70px;
    display: inline-block;
}

.logo {
    width: 250px;
    margin-bottom: 20px;
}

.right form {
    display: flex;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    flex-direction: column;
    gap: 10px;
}

.right input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.right button {
    background-color: #1877f2;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
}

.right a {
    text-decoration: none;
    color: #1877f2;
    text-align: center;
    font-size: 14px;
}

.signup {
    background-color: #42b72a;
    margin-top: 15px;
    padding: 10px 20px;
    width: 300px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
